In [35]:
import pandas as pd
#import numpy as np

In [36]:
Berkshire_hathaway_tweets = pd.read_csv('dane/Berkshire_hathaway_tweets.csv')

In [37]:
Berkshire_hathaway_tweets['created_at'] = Berkshire_hathaway_tweets['created_at'].str.replace(' CET', '')
Berkshire_hathaway_tweets['created_at'] = pd.to_datetime(Berkshire_hathaway_tweets['created_at'], format = '%Y-%m-%d %H:%M:%S')

In [38]:
Berkshire_hathaway_tweets.describe()

,id,conversation_id,timezone,user_id,replies_count,retweets_count,likes_count,video,near,geo,source,user_rt_id,user_rt,retweet_id,retweet_date,translate,trans_src,trans_dest
count,3.182000e+03,3.182000e+03,3182.0,3.182000e+03,3182.000000,3182.000000,3182.000000,3182.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,1.505515e+18,1.505312e+18,100.0,5.348657e+17,0.327781,0.603394,3.644249,0.270585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,8.447243e+14,7.708717e+15,0.0,6.220270e+17,2.061848,3.248363,23.435098,0.444332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.504066e+18,1.096415e+18,100.0,1.545300e+04,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,1.504590e+18,1.504573e+18,100.0,1.637366e+08,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,1.505856e+18,1.505852e+18,100.0,2.812632e+09,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.506053e+18,1.506047e+18,100.0,1.241450e+18,0.000000,0.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1.507086e+18,1.507086e+18,100.0,1.505844e+18,86.000000,70.000000,704.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
Berkshire_hathaway_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3182 entries, 0 to 3181
Data columns (total 36 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               3182 non-null   int64
 1   conversation_id  3182 non-null   int64
 2   created_at       3182 non-null   datetime64[ns]
 3   date             3182 non-null   object
 4   time             3182 non-null   object
 5   timezone         3182 non-null   int64
 6   user_id          3182 non-null   int64
 7   username         3182 non-null   object
 8   name             3182 non-null   object
 9   place            31 non-null     object
 10  tweet            3182 non-null   object
 11  language         3182 non-null   object
 12  mentions         3182 non-null   object
 13  urls             3182 non-null   object
 14  photos           3182 non-null   object
 15  replies_count    3182 non-null   int64
 16  retweets_count   3182 non-null   int64
 17  likes_count      3182 non-null   int64
 18  hashtags         3182 non-null   object
 19  cashtags         3182 non-null   object
 20  link             3182 non-null   object
 21  retweet          3182 non-null   bool
 22  quote_url        65 non-null     object
 23  video            3182 non-null   int64
 24  thumbnail        861 non-null    object
 25  near             0 non-null      float64
 26  geo              0 non-null      float64
 27  source           0 non-null      float64
 28  user_rt_id       0 non-null      float64
 29  user_rt          0 non-null      float64
 30  retweet_id       0 non-null      float64
 31  reply_to         3182 non-null   object
 32  retweet_date     0 non-null      float64
 33  translate        0 non-null      float64
 34  trans_src        0 non-null      float64
 35  trans_dest       0 non-null      float64
dtypes: bool(1), datetime64[ns](1), float64(10), int64(8), object(16)
memory usage: 873.3+ KB

In [40]:
Berkshire_hathaway_tweets.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1507086147780071432,1507086147780071432,2022-03-24 21:05:12,2022-03-24,21:05:12,100,332364947,simonsalhanyre,BHHS Simon & Salhany,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1507085089703968771,1507085089703968771,2022-03-24 21:01:00,2022-03-24,21:01:00,100,1129030043836047360,prospectorptrs,Prospector Partners,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,1507083985112997891,1507083985112997891,2022-03-24 20:56:36,2022-03-24,20:56:36,100,827212847012773888,diamondrafargo,Diamond Realty Assoc,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,1507083947288641558,1507083947288641558,2022-03-24 20:56:27,2022-03-24,20:56:27,100,52761258,townerealty,Towne Realty,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,1507082584676872195,1506969922064236550,2022-03-24 20:51:03,2022-03-24,20:51:03,100,721910257656676352,ferrucho_2015,Federico,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'jkofinanzas', 'name': 'Jonat...",NaN,NaN,NaN,NaN

In [55]:
Berkshire_hathaway_tweets_clean = Berkshire_hathaway_tweets.dropna(thresh = 200, axis = 1)

In [56]:
Berkshire_hathaway_tweets_clean.describe()

,id,conversation_id,timezone,user_id,replies_count,retweets_count,likes_count,video
count,3.182000e+03,3.182000e+03,3182.0,3.182000e+03,3182.000000,3182.000000,3182.000000,3182.000000
mean,1.505515e+18,1.505312e+18,100.0,5.348657e+17,0.327781,0.603394,3.644249,0.270585
std,8.447243e+14,7.708717e+15,0.0,6.220270e+17,2.061848,3.248363,23.435098,0.444332
min,1.504066e+18,1.096415e+18,100.0,1.545300e+04,0.000000,0.000000,0.000000,0.000000
25%,1.504590e+18,1.504573e+18,100.0,1.637366e+08,0.000000,0.000000,0.000000,0.000000
50%,1.505856e+18,1.505852e+18,100.0,2.812632e+09,0.000000,0.000000,0.000000,0.000000
75%,1.506053e+18,1.506047e+18,100.0,1.241450e+18,0.000000,0.000000,1.000000,1.000000
max,1.507086e+18,1.507086e+18,100.0,1.505844e+18,86.000000,70.000000,704.000000,1.000000

In [57]:
Berkshire_hathaway_tweets_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3182 entries, 0 to 3181
Data columns (total 24 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               3182 non-null   int64
 1   conversation_id  3182 non-null   int64
 2   created_at       3182 non-null   datetime64[ns]
 3   date             3182 non-null   object
 4   time             3182 non-null   object
 5   timezone         3182 non-null   int64
 6   user_id          3182 non-null   int64
 7   username         3182 non-null   object
 8   name             3182 non-null   object
 9   tweet            3182 non-null   object
 10  language         3182 non-null   object
 11  mentions         3182 non-null   object
 12  urls             3182 non-null   object
 13  photos           3182 non-null   object
 14  replies_count    3182 non-null   int64
 15  retweets_count   3182 non-null   int64
 16  likes_count      3182 non-null   int64
 17  hashtags         3182 non-null   object
 18  cashtags         3182 non-null   object
 19  link             3182 non-null   object
 20  retweet          3182 non-null   bool
 21  video            3182 non-null   int64
 22  thumbnail        861 non-null    object
 23  reply_to         3182 non-null   object
dtypes: bool(1), datetime64[ns](1), int64(8), object(14)
memory usage: 575.0+ KB

In [58]:
Berkshire_hathaway_tweets_clean.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,tweet,...,replies_count,retweets_count,likes_count,hashtags,cashtags,link,retweet,video,thumbnail,reply_to
0,1507086147780071432,1507086147780071432,2022-03-24 21:05:12,2022-03-24,21:05:12,100,332364947,simonsalhanyre,BHHS Simon & Salhany,Berkshire Hathaway HomeServices Simon &amp; Sa...,...,0,0,0,"['homesweethome', 'newhome']",[],https://twitter.com/SimonSalhanyRE/status/1507...,False,1,https://pbs.twimg.com/media/FOo-3WkXwAwIlq1.jpg,[]
1,1507085089703968771,1507085089703968771,2022-03-24 21:01:00,2022-03-24,21:01:00,100,1129030043836047360,prospectorptrs,Prospector Partners,It took seven months for Tesla’s market cap to...,...,0,0,0,[],[],https://twitter.com/ProspectorPtrs/status/1507...,False,1,https://pbs.twimg.com/media/FOo95ytX0AcZt42.png,[]
2,1507083985112997891,1507083985112997891,2022-03-24 20:56:36,2022-03-24,20:56:36,100,827212847012773888,diamondrafargo,Diamond Realty Assoc,I have a new #listing in #Rothsay #MN https:...,...,0,0,0,"['listing', 'rothsay', 'mn']",[],https://twitter.com/diamondRAfargo/status/1507...,False,1,https://pbs.twimg.com/media/FOo85W4XIAIduSi.jpg,[]
3,1507083947288641558,1507083947288641558,2022-03-24 20:56:27,2022-03-24,20:56:27,100,52761258,townerealty,Towne Realty,What a lovely home. If you know someone who's ...,...,0,0,0,"['bhhs', 'hrva', 'realestate', 'experts', 'hom...",[],https://twitter.com/TowneRealty/status/1507083...,False,0,NaN,[]
4,1507082584676872195,1506969922064236550,2022-03-24 20:51:03,2022-03-24,20:51:03,100,721910257656676352,ferrucho_2015,Federico,@jkofinanzas No es complicado. Compren accione...,...,0,0,0,[],[],https://twitter.com/Ferrucho_2015/status/15070...,False,0,NaN,"[{'screen_name': 'jkofinanzas', 'name': 'Jonat..."

In [59]:
Berkshire_hathaway_tweets_clean[Berkshire_hathaway_tweets_clean.duplicated()]

Empty DataFrame
Columns: [id, conversation_id, created_at, date, time, timezone, user_id, username, name, tweet, language, mentions, urls, photos, replies_count, retweets_count, likes_count, hashtags, cashtags, link, retweet, video, thumbnail, reply_to]
Index: []

[0 rows x 24 columns]

In [60]:
Berkshire_hathaway_tweets_clean = Berkshire_hathaway_tweets_clean[Berkshire_hathaway_tweets_clean.language == 'en']

In [61]:
Berkshire_hathaway_tweets_clean.shape

(2772, 24)

In [62]:
Berkshire_hathaway_tweets_clean.retweet.value_counts()

False    2772
Name: retweet, dtype: int64

In [63]:
Berkshire_hathaway_tweets_clean.drop(['conversation_id', 'date', 'time', 'timezone', 'language', 'retweet'], axis = 1)

,id,created_at,user_id,username,name,tweet,mentions,urls,photos,replies_count,retweets_count,likes_count,hashtags,cashtags,link,video,thumbnail,reply_to
0,1507086147780071432,2022-03-24 21:05:12,332364947,simonsalhanyre,BHHS Simon & Salhany,Berkshire Hathaway HomeServices Simon &amp; Sa...,[],['https://cpix.me/l/140300945'],['https://pbs.twimg.com/media/FOo-3WkXwAwIlq1....,0,0,0,"['homesweethome', 'newhome']",[],https://twitter.com/SimonSalhanyRE/status/1507...,1,https://pbs.twimg.com/media/FOo-3WkXwAwIlq1.jpg,[]
1,1507085089703968771,2022-03-24 21:01:00,1129030043836047360,prospectorptrs,Prospector Partners,It took seven months for Tesla’s market cap to...,[],['https://hubs.li/Q016K6Y20'],['https://pbs.twimg.com/media/FOo95ytX0AcZt42....,0,0,0,[],[],https://twitter.com/ProspectorPtrs/status/1507...,1,https://pbs.twimg.com/media/FOo95ytX0AcZt42.png,[]
2,1507083985112997891,2022-03-24 20:56:36,827212847012773888,diamondrafargo,Diamond Realty Assoc,I have a new #listing in #Rothsay #MN https:...,[],['https://tour.bhhspreproperties.com/home/WMUB...,['https://pbs.twimg.com/media/FOo85W4XIAIduSi....,0,0,0,"['listing', 'rothsay', 'mn']",[],https://twitter.com/diamondRAfargo/status/1507...,1,https://pbs.twimg.com/media/FOo85W4XIAIduSi.jpg,[]
3,1507083947288641558,2022-03-24 20:56:27,52761258,townerealty,Towne Realty,What a lovely home. If you know someone who's ...,[],['http://pdy.io/r0ob'],[],0,0,0,"['bhhs', 'hrva', 'realestate', 'experts', 'hom...",[],https://twitter.com/TowneRealty/status/1507083...,0,NaN,[]
5,1507078980456824837,2022-03-24 20:36:43,101797860,chirosegroupre,Chicago Rose Group (Rose),Just posted a photo @ Berkshire Hathaway HomeS...,[],['https://www.instagram.com/p/Cbf6B7TvFZI/?utm...,[],0,0,0,[],[],https://twitter.com/ChiRoseGroupRE/status/1507...,0,NaN,[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3174,1504076578115969028,2022-03-16 13:46:15,1911679046,danielofomaha,🎸The Amazing™ Daniel,"@bpenkerealtor @dirkchatelain By this logic, s...","[{'screen_name': 'bhhsrealestate', 'name': 'be...",[],[],0,0,9,[],[],https://twitter.com/DanielOfOmaha/status/15040...,0,NaN,"[{'screen_name': 'bpenkerealtor', 'name': 'Bry..."
3177,1504074107926847492,2022-03-16 13:36:26,1360005937071869956,burntweets,CryptoCurious,I’ve been to Berkshire Hathaway meetings befor...,"[{'screen_name': 'fossgregfoss', 'name': 'greg...",[],[],0,0,9,[],[],https://twitter.com/burntweets/status/15040741...,0,NaN,[]
3179,1504068853927759873,2022-03-16 13:15:33,41047314,tsmithrelo,Teresa P. Smith,"Yesterday, we honored all of our Women Who Lea...",[],['https://lnkd.in/dfTUEnWX'],[],0,0,0,['invalyouable'],[],https://twitter.com/Tsmithrelo/status/15040688...,0,NaN,[]
3180,1504068564780732421,2022-03-16 13:14:24,2503230883,_real__estate,Real Estate News,Global Real Estate Agency and Brokerage Market...,[],['https://ift.tt/tGAIQK7'],['https://pbs.twimg.com/media/FN-GY3vXMAQxRb_....,0,0,0,"['realty', 'property']",[],https://twitter.com/_Real__Estate/status/15040...,1,https://pbs.twimg.com/media/FN-GY3vXMAQxRb_.jpg,[]
3181,1504065851879788544,2022-03-16 13:03:37,1338532828666060802,brkdaily,BRK Daily 🇺🇦,2007: What would Buffett look for in a money m...,[],['https://ift.tt/wXzy1A6'],[],0,0,0,"['berkshirehathaway', 'warrenbuffett', 'charli...",['brk.b'],https://twitter.com/BrkDaily/status/1504065851...,0,NaN,[]

In [64]:
Berkshire_hathaway_tweets_clean['reply_to'].value_counts()

[]                                                                                                                                                                                                                    2542
[{'screen_name': 'GRDecter', 'name': 'Genevieve Roch-Decter, CFA', 'id': '1281457267582177280'}]                                                                                                                         3
[{'screen_name': 'HedgeyeDJ', 'name': 'Jonesy', 'id': '131506459'}]                                                                                                                                                      3
[{'screen_name': 'themainepain', 'name': 'PeoplePerson', 'id': '400479563'}, {'screen_name': 'ICIJorg', 'name': 'ICIJ', 'id': '131935861'}, {'screen_name': 'shirafu', 'name': 'Scilla Alecci', 'id': '18550687'}]       2
[{'screen_name': 'ZubyMusic', 'name': 'ZUBY:', 'id': '57441414'}]                                                                                                                                                        2
                                                                                                                                                                                                                      ...
[{'screen_name': 'zerohedge', 'name': 'zerohedge', 'id': '18856867'}]                                                                                                                                                    1
[{'screen_name': 'JackDonaghyVP', 'name': 'Jack Donaghy', 'id': '1336541763914358787'}, {'screen_name': 'DanPriceSeattle', 'name': 'Dan Price', 'id': '2172596028'}]                                                     1
[{'screen_name': 'TeamProsper_', 'name': 'Team Prosper', 'id': '3396057148'}]                                                                                                                                            1
[{'screen_name': 'PeterSchiff', 'name': 'Peter Schiff', 'id': '56562803'}]                                                                                                                                               1
[{'screen_name': 'danjstannard', 'name': 'Danjstannard', 'id': '1115421384094519303'}, {'screen_name': 'ProudSocialist', 'name': 'Ryan Knight ☭', 'id': '755057897583804416'}]                                           1
Name: reply_to, Length: 218, dtype: int64

In [65]:
Berkshire_hathaway_tweets_clean['cashtags'].value_counts()

[]                                                                                               2408
['oxy']                                                                                            58
['y']                                                                                              45
['brk.b']                                                                                          37
['brk']                                                                                            28
                                                                                                 ...
['brk', 'brkb', 'brka', 'y']                                                                        1
['dis', 'plan', 'oxy', 'brk.a', 'ba']                                                               1
['dis', 'plan', 'oxy', 'brk.a', 'ba', 'tsla', 'apd', 'manu', 'gm', 'si', 'nlsn', 'bb', 'mpc']       1
['oxy', 'brk.b']                                                                                    1
['brk.b', 'oxy']                                                                                    1
Name: cashtags, Length: 104, dtype: int64