In [498]:
import pandas as pd
import numpy as np
from textblob import TextBlob
from textblob.sentiments import PatternAnalyze

ImportError: cannot import name 'PatternAnalyze' from 'textblob.sentiments' (/home/r/anaconda3/lib/python3.8/site-packages/textblob/sentiments.py)

In [ ]:
Berkshire_hathaway_tweets = pd.read_csv('dane/Berkshire_hathaway_tweets.csv')

In [ ]:
#dodanie formatu daty
Berkshire_hathaway_tweets['created_at'] = Berkshire_hathaway_tweets['created_at'].str.replace(' CET', '')
Berkshire_hathaway_tweets['created_at'] = pd.to_datetime(Berkshire_hathaway_tweets['created_at'], format = '%Y-%m-%d %H:%M:%S')

In [499]:
Berkshire_hathaway_tweets.describe()

,id,conversation_id,timezone,user_id,replies_count,retweets_count,likes_count,video,near,geo,source,user_rt_id,user_rt,retweet_id,retweet_date,translate,trans_src,trans_dest
count,3.182000e+03,3.182000e+03,3182.0,3.182000e+03,3182.000000,3182.000000,3182.000000,3182.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,1.505515e+18,1.505312e+18,100.0,5.348657e+17,0.327781,0.603394,3.644249,0.270585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,8.447243e+14,7.708717e+15,0.0,6.220270e+17,2.061848,3.248363,23.435098,0.444332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.504066e+18,1.096415e+18,100.0,1.545300e+04,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,1.504590e+18,1.504573e+18,100.0,1.637366e+08,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,1.505856e+18,1.505852e+18,100.0,2.812632e+09,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.506053e+18,1.506047e+18,100.0,1.241450e+18,0.000000,0.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1.507086e+18,1.507086e+18,100.0,1.505844e+18,86.000000,70.000000,704.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [500]:
Berkshire_hathaway_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3182 entries, 0 to 3181
Data columns (total 36 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               3182 non-null   int64
 1   conversation_id  3182 non-null   int64
 2   created_at       3182 non-null   datetime64[ns]
 3   date             3182 non-null   object
 4   time             3182 non-null   object
 5   timezone         3182 non-null   int64
 6   user_id          3182 non-null   int64
 7   username         3182 non-null   object
 8   name             3182 non-null   object
 9   place            31 non-null     object
 10  tweet            3182 non-null   object
 11  language         3182 non-null   object
 12  mentions         3182 non-null   object
 13  urls             3182 non-null   object
 14  photos           3182 non-null   object
 15  replies_count    3182 non-null   int64
 16  retweets_count   3182 non-null   int64
 17  likes_count      3182 non-null   int64
 18  hashtags         3182 non-null   object
 19  cashtags         3182 non-null   object
 20  link             3182 non-null   object
 21  retweet          3182 non-null   bool
 22  quote_url        65 non-null     object
 23  video            3182 non-null   int64
 24  thumbnail        861 non-null    object
 25  near             0 non-null      float64
 26  geo              0 non-null      float64
 27  source           0 non-null      float64
 28  user_rt_id       0 non-null      float64
 29  user_rt          0 non-null      float64
 30  retweet_id       0 non-null      float64
 31  reply_to         3182 non-null   object
 32  retweet_date     0 non-null      float64
 33  translate        0 non-null      float64
 34  trans_src        0 non-null      float64
 35  trans_dest       0 non-null      float64
dtypes: bool(1), datetime64[ns](1), float64(10), int64(8), object(16)
memory usage: 873.3+ KB

In [501]:
Berkshire_hathaway_tweets.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1507086147780071432,1507086147780071432,2022-03-24 21:05:12,2022-03-24,21:05:12,100,332364947,simonsalhanyre,BHHS Simon & Salhany,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1507085089703968771,1507085089703968771,2022-03-24 21:01:00,2022-03-24,21:01:00,100,1129030043836047360,prospectorptrs,Prospector Partners,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,1507083985112997891,1507083985112997891,2022-03-24 20:56:36,2022-03-24,20:56:36,100,827212847012773888,diamondrafargo,Diamond Realty Assoc,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,1507083947288641558,1507083947288641558,2022-03-24 20:56:27,2022-03-24,20:56:27,100,52761258,townerealty,Towne Realty,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,1507082584676872195,1506969922064236550,2022-03-24 20:51:03,2022-03-24,20:51:03,100,721910257656676352,ferrucho_2015,Federico,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'jkofinanzas', 'name': 'Jonat...",NaN,NaN,NaN,NaN

In [502]:
#wybór tweetów tylko w języku angielskim
Berkshire_hathaway_tweets_clean = Berkshire_hathaway_tweets[Berkshire_hathaway_tweets.language == 'en']
Berkshire_hathaway_tweets_clean = Berkshire_hathaway_tweets_clean.reset_index()
Berkshire_hathaway_tweets_clean.shape

(2772, 37)

In [503]:
#usunięcie column które nie mają żadnych wartości
Berkshire_hathaway_tweets_clean = Berkshire_hathaway_tweets_clean.dropna(thresh = 1, axis = 1)

In [504]:
Berkshire_hathaway_tweets_clean.describe()

,index,id,conversation_id,timezone,user_id,replies_count,retweets_count,likes_count,video
count,2772.000000,2.772000e+03,2.772000e+03,2772.0,2.772000e+03,2772.000000,2772.000000,2772.000000,2772.000000
mean,1590.870851,1.505516e+18,1.505286e+18,100.0,5.352580e+17,0.317821,0.588384,3.209596,0.273088
std,919.067892,8.458501e+14,8.252391e+15,0.0,6.218772e+17,2.163558,3.365359,23.848397,0.445626
min,0.000000,1.504066e+18,1.096415e+18,100.0,1.545300e+04,0.000000,0.000000,0.000000,0.000000
25%,802.750000,1.504599e+18,1.504577e+18,100.0,1.655628e+08,0.000000,0.000000,0.000000,0.000000
50%,1604.500000,1.505853e+18,1.505851e+18,100.0,2.827085e+09,0.000000,0.000000,0.000000,0.000000
75%,2379.250000,1.506051e+18,1.506040e+18,100.0,1.243788e+18,0.000000,0.000000,1.000000,1.000000
max,3181.000000,1.507086e+18,1.507086e+18,100.0,1.505248e+18,86.000000,70.000000,704.000000,1.000000

In [505]:
Berkshire_hathaway_tweets_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2772 entries, 0 to 2771
Data columns (total 27 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            2772 non-null   int64
 1   id               2772 non-null   int64
 2   conversation_id  2772 non-null   int64
 3   created_at       2772 non-null   datetime64[ns]
 4   date             2772 non-null   object
 5   time             2772 non-null   object
 6   timezone         2772 non-null   int64
 7   user_id          2772 non-null   int64
 8   username         2772 non-null   object
 9   name             2772 non-null   object
 10  place            31 non-null     object
 11  tweet            2772 non-null   object
 12  language         2772 non-null   object
 13  mentions         2772 non-null   object
 14  urls             2772 non-null   object
 15  photos           2772 non-null   object
 16  replies_count    2772 non-null   int64
 17  retweets_count   2772 non-null   int64
 18  likes_count      2772 non-null   int64
 19  hashtags         2772 non-null   object
 20  cashtags         2772 non-null   object
 21  link             2772 non-null   object
 22  retweet          2772 non-null   bool
 23  quote_url        49 non-null     object
 24  video            2772 non-null   int64
 25  thumbnail        757 non-null    object
 26  reply_to         2772 non-null   object
dtypes: bool(1), datetime64[ns](1), int64(9), object(16)
memory usage: 565.9+ KB

In [506]:
Berkshire_hathaway_tweets_clean.head()

,index,id,conversation_id,created_at,date,time,timezone,user_id,username,name,...,retweets_count,likes_count,hashtags,cashtags,link,retweet,quote_url,video,thumbnail,reply_to
0,0,1507086147780071432,1507086147780071432,2022-03-24 21:05:12,2022-03-24,21:05:12,100,332364947,simonsalhanyre,BHHS Simon & Salhany,...,0,0,"['homesweethome', 'newhome']",[],https://twitter.com/SimonSalhanyRE/status/1507...,False,NaN,1,https://pbs.twimg.com/media/FOo-3WkXwAwIlq1.jpg,[]
1,1,1507085089703968771,1507085089703968771,2022-03-24 21:01:00,2022-03-24,21:01:00,100,1129030043836047360,prospectorptrs,Prospector Partners,...,0,0,[],[],https://twitter.com/ProspectorPtrs/status/1507...,False,NaN,1,https://pbs.twimg.com/media/FOo95ytX0AcZt42.png,[]
2,2,1507083985112997891,1507083985112997891,2022-03-24 20:56:36,2022-03-24,20:56:36,100,827212847012773888,diamondrafargo,Diamond Realty Assoc,...,0,0,"['listing', 'rothsay', 'mn']",[],https://twitter.com/diamondRAfargo/status/1507...,False,NaN,1,https://pbs.twimg.com/media/FOo85W4XIAIduSi.jpg,[]
3,3,1507083947288641558,1507083947288641558,2022-03-24 20:56:27,2022-03-24,20:56:27,100,52761258,townerealty,Towne Realty,...,0,0,"['bhhs', 'hrva', 'realestate', 'experts', 'hom...",[],https://twitter.com/TowneRealty/status/1507083...,False,NaN,0,NaN,[]
4,5,1507078980456824837,1507078980456824837,2022-03-24 20:36:43,2022-03-24,20:36:43,100,101797860,chirosegroupre,Chicago Rose Group (Rose),...,0,0,[],[],https://twitter.com/ChiRoseGroupRE/status/1507...,False,NaN,0,NaN,[]

In [507]:
#sprawdzenie wartości atrybutu place, zmienna jest najprawdopodobniej nieistotna
Berkshire_hathaway_tweets_clean['place'].value_counts()

{'type': 'Point', 'coordinates': [37.46939, -122.24726]}         2
{'type': 'Point', 'coordinates': [28.16028, -82.38634]}          2
{'type': 'Point', 'coordinates': [33.7864851, -84.38743]}        2
{'type': 'Point', 'coordinates': [41.0708599, -81.4734902]}      2
{'type': 'Point', 'coordinates': [41.006611, -81.6095654]}       2
{'type': 'Point', 'coordinates': [41.0379043, -81.5194619]}      2
{'type': 'Point', 'coordinates': [41.0871413, -81.4701442]}      1
{'type': 'Point', 'coordinates': [41.180843, -81.4586893]}       1
{'type': 'Point', 'coordinates': [41.0303859, -81.6286604]}      1
{'type': 'Point', 'coordinates': [38.2525, -85.7554]}            1
{'type': 'Point', 'coordinates': [41.1305546, -81.4967369]}      1
{'type': 'Point', 'coordinates': [38.41040721, -90.38251063]}    1
{'type': 'Point', 'coordinates': [41.0982613, -81.4549779]}      1
{'type': 'Point', 'coordinates': [51.5167977, -0.0810585]}       1
{'type': 'Point', 'coordinates': [41.1162352, -81.5572217]}      1
{'type': 'Point', 'coordinates': [41.0672114, -81.4991383]}      1
{'type': 'Point', 'coordinates': [41.0793252, -81.5206584]}      1
{'type': 'Point', 'coordinates': [41.1252384, -81.4982378]}      1
{'type': 'Point', 'coordinates': [41.1878799, -81.4216455]}      1
{'type': 'Point', 'coordinates': [41.0965895, -81.5530223]}      1
{'type': 'Point', 'coordinates': [41.0486724, -81.4295938]}      1
{'type': 'Point', 'coordinates': [41.90067996, -87.62439966]}    1
{'type': 'Point', 'coordinates': [41.1479011, -81.4727181]}      1
{'type': 'Point', 'coordinates': [41.1018791, -81.5189153]}      1
{'type': 'Point', 'coordinates': [38.20390703, -85.77227767]}    1
Name: place, dtype: int64

In [508]:
#sprawdzenie wartości atrybutu quote_url
Berkshire_hathaway_tweets_clean['quote_url'].value_counts()

https://twitter.com/ChrisBloomstran/status/1506031937403695107                           2
https://twitter.com/BHHSRealEstate/status/1506665711430619137                            1
https://twitter.com/kashdhanda/status/1506207871704383488                                1
https://twitter.com/iamueed2/status/1504483462241480708?t=AThjqYmOeh9TiRhJswIRmQ&s=19    1
https://twitter.com/mardiasih/status/1506148798275678212                                 1
https://twitter.com/boingboing/status/1506338016935170052                                1
https://twitter.com/bbgvisualdata/status/1505906528951443457                             1
https://twitter.com/AaronPyne4/status/1504917404320772102                                1
https://twitter.com/PerfectGameLex/status/1506342674558763012                            1
https://twitter.com/bixxxin/status/1424780337272397850                                   1
https://twitter.com/aaronjreiss/status/1505933523672174599                               1
https://twitter.com/JoeBiden/status/1505587220954206221                                  1
https://twitter.com/TrungTPhan/status/1504932150692356096                                1
https://twitter.com/ryangrim/status/1504799856438747150                                  1
https://twitter.com/StockMKTNewz/status/1504188604104515592                              1
https://twitter.com/AP/status/1506612368524124165                                        1
https://twitter.com/SEC_SriLanka/status/1503943112221069316                              1
https://twitter.com/CandyinMaui/status/1505725714766733313                               1
https://twitter.com/JCoumarianos/status/1504969004385017864                              1
https://twitter.com/business_today/status/1504008690310938625                            1
https://twitter.com/enronchairman/status/1506039207902461961                             1
https://twitter.com/insideclimate/status/1504963359782834179                             1
https://twitter.com/SleepwellCap/status/1506097473315643394                              1
https://twitter.com/Street_Insider/status/1506230918511480839                            1
https://twitter.com/clockx24/status/1506506314461196295                                  1
https://twitter.com/danielgladis/status/1505849626167062528                              1
https://twitter.com/MarchMadnessMBB/status/1504522838908223503                           1
https://twitter.com/AlvaroSabo/status/1504153113812422656                                1
https://twitter.com/hkeskiva/status/1434039708586287106                                  1
https://twitter.com/buccocapital/status/1505652940480163844                              1
https://twitter.com/ScotsFyre/status/1505855549291872257                                 1
https://twitter.com/TycoonistMedia/status/1372612361085988864                            1
https://twitter.com/PriapusIQ/status/1505839581027082241                                 1
https://twitter.com/DescansoGardens/status/1506020363146256387                           1
https://twitter.com/nbcsandiego/status/1501743423635836937                               1
https://twitter.com/ZubyMusic/status/1504503517586898949                                 1
https://twitter.com/andrewrdroste/status/1390060824392347654                             1
https://twitter.com/bopinion/status/1505292742993321993                                  1
https://twitter.com/MktsInsider/status/1505868363360350208                               1
https://twitter.com/getfreshtoast/status/1506386441240145923                             1
https://twitter.com/realwillmeade/status/1504246137649348608                             1
https://twitter.com/stevekunframed/status/1506547931280646147                            1
https://twitter.com/SJosephBurns/status/1504189963981705219                              1
https://twitter.com/nationalpost/status/1505948488072409088                              1
https://twitter.com/maheshperi/status/1504326644298772481                                1
https://twitter.com/Blockworks_/status/1504491108616880135                               1
https://twitter.com/SafeMoonSpidey/status/1506767114086006784                            1
https://twitter.com/seldo/status/1507066381451218946                                     1
Name: quote_url, dtype: int64

In [509]:
#podliczenie ilości linków i zapisanie ich
Berkshire_hathaway_tweets_clean['quote_url'] = Berkshire_hathaway_tweets_clean['quote_url'].str.count('https://')

#zastąpienie NaN przez 0
Berkshire_hathaway_tweets_clean.fillna({'quote_url':0}, inplace=True)

#zmiana typu danych z float64 na int64
Berkshire_hathaway_tweets_clean['quote_url'] = Berkshire_hathaway_tweets_clean['quote_url'].astype(np.int64)

In [510]:
#zmiana NaN na [] w columnie thumbnail
Berkshire_hathaway_tweets_clean.fillna({'thumbnail':'[]'}, inplace=True)

In [511]:
#brak NaN poza columną place która zostanie później usunięta
Berkshire_hathaway_tweets_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2772 entries, 0 to 2771
Data columns (total 27 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            2772 non-null   int64
 1   id               2772 non-null   int64
 2   conversation_id  2772 non-null   int64
 3   created_at       2772 non-null   datetime64[ns]
 4   date             2772 non-null   object
 5   time             2772 non-null   object
 6   timezone         2772 non-null   int64
 7   user_id          2772 non-null   int64
 8   username         2772 non-null   object
 9   name             2772 non-null   object
 10  place            31 non-null     object
 11  tweet            2772 non-null   object
 12  language         2772 non-null   object
 13  mentions         2772 non-null   object
 14  urls             2772 non-null   object
 15  photos           2772 non-null   object
 16  replies_count    2772 non-null   int64
 17  retweets_count   2772 non-null   int64
 18  likes_count      2772 non-null   int64
 19  hashtags         2772 non-null   object
 20  cashtags         2772 non-null   object
 21  link             2772 non-null   object
 22  retweet          2772 non-null   bool
 23  quote_url        2772 non-null   int64
 24  video            2772 non-null   int64
 25  thumbnail        2772 non-null   object
 26  reply_to         2772 non-null   object
dtypes: bool(1), datetime64[ns](1), int64(10), object(15)
memory usage: 565.9+ KB

In [512]:
#szukanie duplikatów
Berkshire_hathaway_tweets_clean[Berkshire_hathaway_tweets_clean.duplicated(subset = 'id')]

Empty DataFrame
Columns: [index, id, conversation_id, created_at, date, time, timezone, user_id, username, name, place, tweet, language, mentions, urls, photos, replies_count, retweets_count, likes_count, hashtags, cashtags, link, retweet, quote_url, video, thumbnail, reply_to]
Index: []

[0 rows x 27 columns]

In [513]:
#atrybut retweet nie posiada żadnych wartości przydatnych do analizy
Berkshire_hathaway_tweets_clean['retweet'].value_counts()

False    2772
Name: retweet, dtype: int64

In [514]:
#usunięcie niepotrzebnych column
Berkshire_hathaway_tweets_clean = Berkshire_hathaway_tweets_clean.drop(['conversation_id', 
                                                                        'date', 'time', 'timezone', 
                                                                        'language', 'retweet', 'link','place'], 
                                                                       axis = 1)

In [515]:
#podliczenie ilości elementów dla predyktorów przechowywanych jako lista
columns_to_format = ['mentions', 'urls', 'photos', 'hashtags', 'cashtags', 'thumbnail']
for column in columns_to_format:
    empty_list = Berkshire_hathaway_tweets_clean[column] == '[]'
    Berkshire_hathaway_tweets_clean[column] = Berkshire_hathaway_tweets_clean[column].str[1:-1].str.split(',')
    Berkshire_hathaway_tweets_clean[column] = Berkshire_hathaway_tweets_clean[column].str.len()
    Berkshire_hathaway_tweets_clean.loc[empty_list, column] = 0

In [516]:
#podliczenie ilości elementów słownika w reply_to i zapisanie ich
Berkshire_hathaway_tweets_clean['reply_to'] = Berkshire_hathaway_tweets_clean['reply_to'].str.count('{')

#zmiana typu danych z float64 na int64
Berkshire_hathaway_tweets_clean['reply_to'] = Berkshire_hathaway_tweets_clean['reply_to'].astype(np.int64)

In [517]:
Berkshire_hathaway_tweets_clean['reply_to'].value_counts()

0     2542
1      151
2       46
3       19
4        5
6        2
5        2
12       1
46       1
7        1
9        1
13       1
Name: reply_to, dtype: int64

In [518]:
Berkshire_hathaway_tweets_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2772 entries, 0 to 2771
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           2772 non-null   int64
 1   id              2772 non-null   int64
 2   created_at      2772 non-null   datetime64[ns]
 3   user_id         2772 non-null   int64
 4   username        2772 non-null   object
 5   name            2772 non-null   object
 6   tweet           2772 non-null   object
 7   mentions        2772 non-null   int64
 8   urls            2772 non-null   int64
 9   photos          2772 non-null   int64
 10  replies_count   2772 non-null   int64
 11  retweets_count  2772 non-null   int64
 12  likes_count     2772 non-null   int64
 13  hashtags        2772 non-null   int64
 14  cashtags        2772 non-null   int64
 15  quote_url       2772 non-null   int64
 16  video           2772 non-null   int64
 17  thumbnail       2772 non-null   int64
 18  reply_to        2772 non-null   int64
dtypes: datetime64[ns](1), int64(15), object(3)
memory usage: 411.6+ KB

In [519]:
#określenie ilości słów w tweetach
Berkshire_hathaway_tweets_clean['tweet_word_count'] = Berkshire_hathaway_tweets_clean['tweet'].str.split().apply(len)

In [520]:
#Analiza opini na podstawie pakietu textblob
for i in range(Berkshire_hathaway_tweets_clean.shape[0]):
    blob = TextBlob(Berkshire_hathaway_tweets_clean.loc[i, 'tweet'], analyzer=PatternAnalyzer())
    Berkshire_hathaway_tweets_clean.loc[i, 'polarity'] = blob.sentiment[0]
    Berkshire_hathaway_tweets_clean.loc[i, 'subjectivity'] = blob.sentiment[1]

In [522]:
Berkshire_hathaway_tweets_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2772 entries, 0 to 2771
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             2772 non-null   int64
 1   id                2772 non-null   int64
 2   created_at        2772 non-null   datetime64[ns]
 3   user_id           2772 non-null   int64
 4   username          2772 non-null   object
 5   name              2772 non-null   object
 6   tweet             2772 non-null   object
 7   mentions          2772 non-null   int64
 8   urls              2772 non-null   int64
 9   photos            2772 non-null   int64
 10  replies_count     2772 non-null   int64
 11  retweets_count    2772 non-null   int64
 12  likes_count       2772 non-null   int64
 13  hashtags          2772 non-null   int64
 14  cashtags          2772 non-null   int64
 15  quote_url         2772 non-null   int64
 16  video             2772 non-null   int64
 17  thumbnail         2772 non-null   int64
 18  reply_to          2772 non-null   int64
 19  tweet_word_count  2772 non-null   int64
 20  polarity          2772 non-null   float64
 21  subjectivity      2772 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(16), object(3)
memory usage: 476.6+ KB

In [ ]:
#zapis wyczyszczonej i pr
Berkshire_hathaway_tweets_clean.to_csv('dane/Berkshire_hathaway_tweets_clean.csv')